{% trans_default_domain 'FOSUserBundle' %}
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="login-form">
                    <h2>Reset Password</h2>
                    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                        <div class="group-input">
                            <label for="username">{{ 'resetting.request.username'|trans }}</label>
                            <input type="text" id="username" name="username" required="required" />
                        </div>
                        <div>
                            <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="site-btn login-btn"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

